---
import { createI18n, getLocalizedPath } from "@/i18n";
import PageLayout from "@/layouts/Base.astro";

const { locale, t } = createI18n(Astro);

const meta = {
	description: t("404.description"),
	title: t("404.title"),
};

const homePath = getLocalizedPath("/", locale);
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">{t("404.title")}</h1>
	<p class="mb-8">{t("404.description")}</p>
	<a class="cactus-link" href={homePath}>{t("404.backHome")}</a>
</PageLayout>
