---
import { createI18n } from "@/i18n";
import PageLayout from "@/layouts/Base.astro";

const { t } = createI18n(Astro);

const meta = {
	description: t("site.description"),
	title: t("about.title"),
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">{t("about.title")}</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hey, I was an iOS Dev, 
			PM@Crypto.com, 
			cr8ted CronosID, 
			and now vibe coding 
			and write some stuff here.
		</p>
		<p>Here are my some of my vibe coded projects:</p>
		<ul class="list-inside list-disc" role="list">
			<li>Timer kits - coming soon</li>
		</ul>
		<p>
			Clone or fork my <a
				class="cactus-link inline-block"
				href="https://github.com/0xnicecrypto"
				rel="noreferrer"
				target="_blank">repo</a
			> if you like!
		</p>
	</div>
</PageLayout>
